{% extends 'base.html' %}

{% block title %}threads{% endblock %}

{% load static %}

{% block header_extends %}
	<link rel="stylesheet" type="text/css" href="{% static 'thread.css' %}">
{% endblock %}

{% block content %}
	<div class="left-panel">
			{% for thread_type in thread_types %}
				<a href="{% url 'threads_with_type' thread_type.pk %}">
					<div class="thread-type">
						{{ thread_type.type_name }}
					</div>
				</a>
			{% empty %}
				not available now
			{% endfor %}
	</div>
	<div class="middle-panel">
		<div class="main-content">
			{% for thread in page_of_threads.object_list %}
			<div class="thread">
				<div class="thread-left">
					<div class="avatar-container">
						<img src="{{ profile.avatar.url }}"  id="avatar-d1">
					</div>
				</div>
				<div class="thread-right">
					<a href="{% url 'thread_detail' thread.pk %}">{{ thread.title }}</a>
					<br>
					<span>
						<a href="{% url 'threads_with_type' thread.thread_type.pk %}">{{ thread.thread_type }}</a>
						@{{ thread.created_time|date:"Y-m-d" }}
					</span>
				</div>
			</div>
			{% empty %}
			<div class="thread">
				<p>-- Nothing to post --</p>
			</div>
			{% endfor %}
		</div>
		<div class="paginator">
			<ul class="pagination">
			    <li>
			    	{% if page_of_threads.has_previous %}
			    		<a href="?page=previous_page_number" aria-label="Previous">
			        		<span aria-hidden="true">&laquo;</span>
			      		</a>
			    	{% else %}
			    		<span aria-hidden="true">&laquo;</span>
			    	{% endif %}
			      
			    </li>
				{% for page_num in page_range %}
					{% if page_num == page_of_threads.number %}
						<li class="active"><span>{{ page_num }}</span></li>
					{% else %}
						{% if page_num == "..." %}
							<li><span>{{ page_num }}</span></li>
						{% else %}
							<li><a href="?page={{page_num}}">{{ page_num }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}

			    <li>
			      {% if page_of_threads.has_next %}
			    		<a href="?page={{page_of_threads.next_page_number}}" aria-label="Next">
			        		<span aria-hidden="true">&raquo;</span>
			      		</a>
			    	{% else %}
			    		<span aria-hidden="true">&raquo;</span>
			    	{% endif %}
			    </li>
			</ul>
		</div>	
	</div>
	<div class="right-panel">
		#
	</div>
{% endblock %}